config.log
config.status
export/
setup_linux.sh
src/libs/txml/gennmtab/gennmtab
src/linux/torcs
src/tools/accc/accc
src/tools/nfs2ac/nfs2ac
src/tools/nfsperf/nfsperf
src/tools/texmapper/texmapper
src/tools/trackgen/trackgen
src/tags
*.a
*-bin
*.depend
*.o
*.so
*.spec
*.swp
